@font-face {
  font-family: "HeeboRegular";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "HeeboMedium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "HeeboBold";
  src: url("../fonts/Heebo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "MeriendaOneRegular";
  src: url("../fonts/MeriendaOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}